footer{
  margin-top: 1.5625rem;
  padding: 1.5625rem;
   width: 100%;
  background-color: $secondary-color;
  .btn-arriba{
      font-size: 1rem;
      color: $tertiary-color
  }&:hover {
    text-decoration: underline;
    color: $tertiary-color
  }
.nav-link:focus, .nav-link:hover{
    text-decoration: underline;
    color: $tertiary-color
}
}