h1 {
  font-weight: $title-font-weight;
  background-color: $primary-color;
}

p {
  background-color: $secondary-color;
}

p,
h6 {
  font-weight: $body-font-weight;
  font-size: 16px;
}

h6 {
  background-color: #f1cbb5;
}

h2 {
  font-size: 32px;
  background-color: #f9e9e0;
}

