$title-font-weight: 700;
$body-font-weight: 400;
$accent-color: #f3c3a7;
$secondary-color: #e9e0f99f;
$tertiary-color: #6c997c;
$black: rgb(14, 14, 14);
$white: rgba(255, 255, 255, 0.966);
$font-primary: DM Sans;
